@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 110vw;
    height: 110vh;
    background: white;   /* antes era cinza */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    max-width: none;     /* remover limite de 1200px */
    border-radius: 0;    /* remove bordas arredondadas */
    background: white;
    display: flex;
    padding: 40px;
    gap: 20px;
}


/* ==================== TEXTO ESQUERDO ==================== */

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 100px;
    font: optional;
    color: #000000;  /* tom marrom igual ao da imagem */
}

h3 {
    font-size: 26px;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #000000;
    font-weight: 500;
}

/* ==================== BOTÕES ==================== */

.button-box {
    background: #8bb0c9;
    width: 300px;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 30px;
    border: none;
    background: transparent;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

/* botão ativo (cadastro) */
.cadastro {
    background: white;
}

/* ==================== IMAGEM DIREITA ==================== */

.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right img {
    width: 100%;
    border-radius: 8px;
    transform: scaleX(-1);
}




